<div id="tmDashboard" class="page-bg page-std" ui-view="container">
    <div id="tmDashboard" class="container">
        <div id="tmDashboard" class="row">
            <div ng-if="projectList.length === 0">
            </div>
            <div ng-if="projectList.length != 0">
                <div id="tmDashboard" class="col-md-12">
                    <div id="tmDashboardProjectsPanel" class="col-md-3">
                        <div id="tmDashboardProjectsPanel" ui-view="projects"></div>
                    </div>
                    <div id="tmDashboardInfoPanels" class="col-md-9">
                        <div id="tmDashboardInfoPanels" ui-view="stats"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>