<div class="row-fluid">
	<div id="userDashBoard" class="col-md-12">
		<div class="row-fluid">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div id = "dashboardPanelHeading" class="panel-heading text-center">
						<h4>Tasks</h4>
					</div>
					<div class = "panel-body">
						<div class="row-fluid">
							<div class="col-md-4">
								<div id = "dashboardPanel" class="panel panel-default">
									<div class="panel-heading text-center">
										<h6>To Be Done</h6>
									</div>
									<div class = "panel-body text-center">
										<h1>0</h1>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div id = "dashboardPanel" class="panel panel-default">
									<div class="panel-heading text-center">
										<h6>On The Go</h6>
									</div>
									<div class = "panel-body text-center">
										<h1>0</h1>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div id = "dashboardPanel" class="panel panel-default">
									<div class="panel-heading text-center">
										<h6>Awaiting Approval</h6>
									</div>
									<div class = "panel-body text-center">
										<h1>0</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div id = "dashboardPanelHeading" class="panel-heading text-center">
						<h4>Charts</h4>
					</div>
					<div class = "panel-body">
						<div class="row-fluid">
							<div class="col-md-6">
								<a href="/ganttChart">
									<div id = "dashboardPanel" class="panel panel-default">
										<div class="panel-heading text-center">
											<h6>Gantt Chart</h6>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-6">
								<a href="/apn">
									<div id = "dashboardPanel" class="panel panel-default">
										<div type="button" class="panel-heading text-center" >
											<h6>APN</h6>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-6">
								<a href="/criticalPath">
									<div id = "dashboardPanel" class="panel panel-default">
										<div class="panel-heading text-center">
											<h6>Critical Path</h6>
										</div>
									</div>
								</div>
							</a>
							<div class="col-md-6">
								<a href="/Pert">
									<div id = "dashboardPanel" class="panel-default">
										<div class="panel-heading text-center">
											<h6>PERT</h6>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myTasks" class ="col-md-3">
				<div id="myTasksPanel" class="panel panel-default" >
					<div id = "dashboardPanelHeading" class="panel-heading text-center">
						<h4>My Tasks</h4>
					</div>
					<div class = "panel-body">
						<div ng-repeat="Task in Tasks">
							<div class ="ng-class: taskPriority($index);">
								<div class="panel-heading text-center">
									{{Task.title}}
								</div>
								<div class = "panel-body">
									{{Task.description}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			

		</div>

	</div>

<!--
<script>
	var d = new Date();
	document.getElementById("time").innerHTML = d.toDateString();;
</script>
-->