<div class="container">
  <div class="row">
   <div class="col-md-12">
   <h1>Good {{greetingTime()}} {{getUserName()}}</h1>
  </div>
  <hr/>
  <br/>
  </div>
 <div class="row m-top-md">
  <div class="col-md-6 col-md-offset-3">
   <!--<a class="home-link" href="#/dashboard/pmDashboard">-->
   <div class="statistic-box bg-ember">
    <div class="statistic-title">Project Management</div>
    <div class="statistic-value">Dashboard</div>
    <div class="statistic-icon-background"><i class="glyphicon glyphicon-folder-open"></i></div>
   </div>
    </a>
  </div>
 </div>
 <div class="row m-top-md">
  <div class="col-md-6 col-md-offset-3">
   <!--<a class="home-link" href="#/dashboard/tmDashboard">-->
   <div class="statistic-box bg-spark">
    <div class="statistic-title">Team Member</div>
    <div class="statistic-value">Dashboard</div>
    <div class="statistic-icon-background"><i class="glyphicon glyphicon-user"></i></div>
   </div>
    </a>
  </div>
 </div>
</div>

