<div class="col-md-8 col-md-offset-2" ng-keypress="$event.which === 13 && submitUser()">
    <h2>Sign Up!</h2>

    <div class="panel panel-danger">
        <div class="panel-heading">
            Add New Staff
        </div>
        <div class="panel panel-body">
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-md-6">
                        <label for="firstName">First Name:</label>
                        <input id="firstName"
                               type="text"
                               class="form-control"
                               ng-model="user.firstName"
                               placeholder="First Name"
                               autofocus/>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Last Name:</label>
                        <input id="lastName"
                               type="text"
                               class="form-control"
                               ng-model="user.lastName"
                               placeholder="Last Name"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <input id="email"
                               type="email"
                               class="form-control"
                               ng-model="user.emailAddress"
                               placeholder="sample@sample"/>
                    </div>
                    <div class="col-md-6">
                        <label for="accountName">Account Name:</label>
                        <input id="accountName"
                               type="text"
                               class="form-control"
                               ng-model="user.accountName"
                               placeholder="Account Name"/>
                    </div>
                    <div class="row-fluid" ng-controller="PasswordCheckCtrl">
                        <div class="col-md-6">
                            <form name="password_strength" method="POST" id="pass_form">
                                <label for="pass">Password:</label>
                                <input id="pass"
                                       name="pass"
                                       type="password"
                                       class="form-control"
                                       ng-model="user.password"
                                       placeholder="Password"
                                       ng-change="passwordStrength(user.password, passwordCheck)"
                                       ng-model-options="{debounce: 750}"/>
                                <span ng-style="customStyle.strengthStyle">{{password.Strength}}</span>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <label for="pass2">Re-Enter Password:</label>
                            <input id="pass2"
                                   name="pass"
                                   type="password"
                                   class="form-control"
                                   ng-model="user.passwordCheck"
                                   placeholder="Password"
                                   ng-keyup="passwordCompare(user.password, passwordCheck)"/>
                            <span ng-style="customStyle.compareStyle">{{compare.match}}</span>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <label for="phoneNumber">Phone Number:</label>
                            <input id="phoneNumber"
                                   type="text"
                                   class="form-control"
                                   ng-model="user.phone"
                                   placeholder="9525-1234"/>
                        </div>
                        <div class="col-md-6">
                            <label for="selectPlan">Select Plan</label>

                            <div id="selectPlan" class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="role"
                                        data-toggle="dropdown" aria-expanded="true">
                                    {{selectedPlan.planName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="role">
                                    <li role="presentation" ng-repeat="plan in plans">
                                        <a role="menuitem" tabindex="-1"
                                           ng-click="setPlan(plan)">{{plan.planName}}</a></li>
                                </ul>
                            </div>

                            <table style="width:100%">
                                <tr>
                                    <th>Number of Users</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    <td>{{selectedPlan.userLimit}}</td>
                                    <td>{{selectedPlan.price}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12">
                            <br>
                            <button type="submit" class="form-control btn btn-success" ng-click="submitUser()">
                                Create User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>