<div class="container">
    <div class="row m-top-md">
        <h2>Activity Precedence Network</h2>
        <br/>
        <form>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h4>JSON Object</h4></div>
                        <div class="panel-body">
                            <div class = "col-md-12 text-center">
                                <h2>Jims code goes in scripts/apn/apn.controller.js, tasks/dependencies are in those variables</h2>
                                <h3>Tasks retrieved from database for this project:</h3>
                                <p>{{tasks}}</p>
                                <br/>
                                <div class="row">
                                    <h3>Dependencies retrieved from database for this project:</h3>
                                    <p>{{dependencies}}</p>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!--<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn  btn-lg btn-success" style="width:100%;">Calculate Function Point Estimation</button>
        </div>
    </div>-->
    </form>
</div>
</div>