<div class="container">
    <div class="row m-top-md">
        <h2>Activity Precedence Network</h2>
        <br/>
        <form>
            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h4>Activity Precedence Network & Critical Chain</h4></div>
                        <div class="panel-body">
                            <div class = "col-md-12 text-center">
                                <div id="myholder" style="height: auto; width: auto; overflow: auto;"> </div>
                                <!--<h2>Jims code goes in scripts/apn/apn.controller.js, tasks/dependencies are in those variables</h2>
                                <h3>Tasks retrieved from database for this project:</h3>
                                <p>{{tasks}}</p>
                                <br/>
                                <div class="row">
                                    <h3>Dependencies retrieved from database for this project:</h3>
                                    <p>{{dependencies}}</p>
                                </div>-->
                                <p ng-if="tasks.length === 0">Hmmm... there doesn't seem to be any tasks created for this project.  Please create
                                    some tasks so that an APN chart can be generated</p>

                                <hr/>
                                <p>Red = Critical Path</p>
                                <h3>Legend</h3>
                                <table class="table table-striped">
                                    <tr><th>Task Number</th><th>Name</th><th>Start Date</th><th>Description</th></tr>
                                    <tr ng-repeat="task in tasks">
                                        <td>{{task.project_name}}: Task {{task.task_number}}</td>
                                        <td>{{task.task_name}}</td>
                                        <td>{{task.start_date.substring(0, 10)}}</td>
                                        <td>{{task.description}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!--<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn  btn-lg btn-success" style="width:100%;">Calculate Function Point Estimation</button>
        </div>
    </div>-->
    </form>
</div>
</div>