<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Archive Project</h2>


            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-danger" style="margin-top: 25px">
                    <div class="panel-heading">Active Projects</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Project Name</th>
                                <th>Project Start Date</th>
                                <th>Project End Date</th>
                                <th>Archive Reason</th>
                                <th>Archive</th>
                            </tr>
                            <!--<form ng-submit="archiveProject(project.project_name, archiveReason)">-->
                            <tr ng-repeat="project in activeProjects">
                                <td>{{project.project_name}}</td>
                                <td>{{project.start_date  | date:'dd/MM/yyyy'}}</td>
                                <td>{{project.estimated_end_date  | date:'dd/MM/yyyy'}}</td>
                                <td><input id="archiveReason"
                                              ng-model="archiveReason"
                                              type="text"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Archive Reason"/></td>
                                <td><button type="submit" class="btn" style="width:100%;"
                                            ng-click="archiveProject(project.project_name, archiveReason)">Archive Project</button></td>
                                <!--</form>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-danger" style="margin-top: 25px">
                    <div class="panel-heading">Archived Projects</div>
                    <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Start Date</th>
                                    <th>Project End Date</th>
                                    <th>Archive Reason</th>
                                    <th>Restore</th>
                                </tr>
                                <tr ng-repeat="project in archivedProjects">
                                        <td>{{project.project_name}}</td>
                                        <td>{{project.start_date | date:'dd/MM/yyyy'}}</td>
                                        <td>{{project.estimated_end_date | date:'dd/MM/yyyy'}}</td>
                                        <td>{{project.archive_reason}}</td>
                                        <td><input class="btn btn-success" type="button" value="Restore" ng-click="restoreProject(project.project_name)" /></td>
                                    </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
