<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<tabset class="custom-tabs" justified="true">
                <tab heading="Create Project">-->
                    <h2>Create Project</h2>

                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-danger" style="margin-top: 25px">
                            <div class="panel-heading">Project Details</div>
                            <div class="panel-body">
                                <form ng-submit="submitProject()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="projName">Project Name: </label>
                                            <input id="projName"
                                                   ng-model="projectData.projectName"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder="Project Name"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="estBudget">Estimated Budget: </label>
                                            <input id="estBudget"
                                                   ng-model="projectData.budget"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder="$"/>
                                        </div>
                                    </div>
                                    <div class="row mg-md">
                                        <div class="col-md-6">
                                            <label for="startDate">Start Date: </label>
                                            <input id="startDate"
                                                   ng-model="projectData.startDate"
                                                   type="date"
                                                   class="form-control"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="estimatedCompDate">Estimated Completion Date: </label>
                                            <input id="estimatedCompDate"
                                                   ng-model="projectData.estimatedEndDate"
                                                   type="date"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="row mg-md">
                                        <div class="col-md-6">
                                            <label for="usernamePM">Project Manager: </label>

                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button"
                                                        id="usernamePM" data-toggle="dropdown" aria-expanded="true">
                                                    {{selectedProjectManager}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="role">
                                                    <li role="presentation" ng-repeat="pm in projectManagers">
                                                        <a role="menuitem" tabindex="-1"
                                                           ng-click="setProjectManager($index)">{{pm.name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="usernamePM">Project Manager: </label>
                                            <input id="usernamePM"
                                                   ng-model="projectData.projectManager"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder="Smith, John"/>
                                        </div>
                                    </div>
                                    <div class="row mg-md">
                                        <div class="col-md-12">
                                            <label for="projDescription">Description: </label>
											<textarea id="projDescription"
                                                      ng-model="projectData.description"
                                                      type="text"
                                                      class="form-control"
                                                      rows="3"
                                                      placeholder="Project Description"/>
                                        </div>
                                    </div>
                                    <div class="row mg-md">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-success" style="width:100%;">Create
                                                Project
                                            </button>
                                        </div>

                                        <div class="col-md-4">
                                            <a href="#/dashboard/pmDashboard">
                                                <button type="button" class="btn btn-success" style="width:100%;">Back
                                                    to
                                                    Dash board
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <!--</tab>
                <tab heading="Modify Project">
                    <h2>Modify Project</h2>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" ng-controller="ProjectModCtrl">
                            <div class="panel panel-default">
                                <div class="panel panel-heading">
                                    Current Project Details
                                </div>
                                <div class="panel panel-body">
                                    <label for="modProjectName">Project Name</label>
                                    <select id="modProjectName"
                                            ng-model="projectData.projectName"
                                            ng-options="pd as pd.projectName for pd in projectData">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Archive Project">
                    <h2>Archive Project</h2>
                </tab>
            </tabset>-->
        </div>
    </div>
</div>
