
<div class="page-bg page-std" ui-view="container">
    <div class="container">
        <div class="row">
            <div ng-if="projectData.length === 0">
                <p>You are not the project manager of any tasks.  Please click the Team Member dashboard above to
                    see any tasks assigned to you.</p>
            </div>
            <div class="col-md-12">
                <!--<div scrolling-tabs-wrapper>-->
                <tabset class="custom-tabs" justified="true">
                    <tab ng-repeat="project in projectList"
                         heading="{{project}}"
                         active="tab.active" ng-click="switchProject($index)">
                        <!-- the ng-if below prevents every tab being reloaded on tab change -->
                        <div class="project-container" ng-if="project === currentProject.projectName">
                            <h2>{{project.projectName}}</h2>
                            <div class="row m-top-md">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- Project Tracking Panel -->
                                            <div ui-view="projecttracking"></div>
                                        </div>
                                    </div>

                                    <div class="row" ><!--ng-show="seeTasks"-->
                                        <div class="col-md-12">
                                            <!-- Tasks Panel -->
                                            <div ui-view="tasks"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- PROJECT STATISTICS-->
                                            <div ui-view="statistics"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <!-- PROJECT PROGRESSION
                                        <div class="panel panel-warning">
                                            <div class="panel-heading"><h4>Project Progression<i class="glyphicon glyphicon-time"></i></h4></div>
                                            <div class="panel-body">
                                                <div class="col-md-12 text-center"><h3>{{startDate($index)}}</h3><span>Project start date</span></div>
                                                <div class="col-md-12 text-center"><h3>{{endDate($index)}}</h3><span>Estimated completed date</span></div>
                                                <div class="col-md-12 m-top-md"><progressbar
                                                        value="project.progress" max="100" type=""></progressbar></div>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-md-12">
                                        <!-- COST MANAGEMENT
                                        <div class="panel panel-warning">
                                            <div class="panel-heading"><h4>Cost Management<i class="glyphicon glyphicon-usd"></i></h4></div>
                                            <div class="panel-body">
                                                <div class="col-md-12 text-center"><h2>${{project.budget}}</h2><span>Budget</span></div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <!-- possibly the sidebar? -->
                                <!--<div class="col-md-1 custom-pill-container" ng-controller="HomeCtrl">
                                    <ul class="nav nav-pills nav-stacked" ng-repeat="item in pMenuTab">
                                        <li class="custom-pill" role="presentation"><a href="{{item.url}}"><span class="{{item.iconclass}}"></span><h6>{{item.title}}</h6></a></li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>

    </div>
</div>