<div class="container">
	<div class="row-fluid">
		<div class="col-md-10 col-md-offset-1">
			<h1>Cocomo II</h1>
			<form ng-submit="submitCocomo()">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-danger">
								<div class="panel-heading"><h4>1. System Size</h4></div>
								<div class="panel-body">
									<div class = "row">
										<div class= "col-md-12 text-center">
											<input type="radio" ng-model="systemSize.value" value="1000" checked>Small
											<input type="radio" ng-model="systemSize.value" value="10000">Medium
											<input type="radio" ng-model="systemSize.value" value="100000">Large
											<input type="radio" ng-model="systemSize.value" value="1000000">Very-Large
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-12 text-center">
											Number of staff:<input type="number" ng-model="staffSize.value"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-danger">
								<div class="panel-heading"><h4>2. Scale Factors</h4></div>
								<div class="panel-body">
									<div class = "row">
										<div class ="col-md-12 text-center">
											<h2>Scale Factor</h2>
											<h4>Precedentedness (PREC)</h4>
											<input type="radio" ng-model="PREC.value" value=6.20 checked>Very Low
											<input type="radio" ng-model="PREC.value" value=4.96>Low
											<input type="radio" ng-model="PREC.value" value=3.72>Nominal
											<input type="radio" ng-model="PREC.value" value=2.48>High
											<input type="radio" ng-model="PREC.value" value=1.24>Very High
											<input type="radio" ng-model="PREC.value" value=0.00>Extra High
										</div>
										<div class="col-md-12 text-center m-top-md">
											<h4>Development Flexibility (FLEX)</h4>
											<input type="radio" ng-model="FLEX.value" value=5.07 checked>Very Low
											<input type="radio" ng-model="FLEX.value" value=4.05>Low
											<input type="radio" ng-model="FLEX.value" value=3.04>Nominal
											<input type="radio" ng-model="FLEX.value" value=2.03>High
											<input type="radio" ng-model="FLEX.value" value=1.01>Very High
											<input type="radio" ng-model="FLEX.value" value=0.00>Extra High
										</div>
										<div class="col-md-12 text-center m-top-md">
											<h4>Architecture/Risk Resolution (RESL)</h4>
											<input type="radio" ng-model="RESL.value" value=7.07 checked>Very Low
											<input type="radio" ng-model="RESL.value" value=5.65>Low
											<input type="radio" ng-model="RESL.value" value=4.24>Nominal
											<input type="radio" ng-model="RESL.value" value=2.83>High
											<input type="radio" ng-model="RESL.value" value=1.41>Very High
											<input type="radio" ng-model="RESL.value" value=0.00>Extra High
										</div>
										<div class="col-md-12 text-center m-top-md">
											<h4>Team Cohesion (TEAM)</h4>
											<input type="radio" ng-model="TEAM.value" value=5.48 checked>Very Low
											<input type="radio" ng-model="TEAM.value" value=4.38>Low
											<input type="radio" ng-model="TEAM.value" value=3.29>Nominal
											<input type="radio" ng-model="TEAM.value" value=2.19>High
											<input type="radio" ng-model="TEAM.value" value=1.10>Very High
											<input type="radio" ng-model="TEAM.value" value=0.00>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>Process Maturity (PMAT)</h4>
											<input type="radio" ng-model="PMAT.value" value=7.80 checked>Very Low
											<input type="radio" ng-model="PMAT.value" value=6.24>Low
											<input type="radio" ng-model="PMAT.value" value=4.68>Nominal
											<input type="radio" ng-model="PMAT.value" value=3.12>High
											<input type="radio" ng-model="PMAT.value" value=1.56>Very High
											<input type="radio" ng-model="PMAT.value" value=0.00>Extra High
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-danger">
								<div class="panel-heading"><h4>3. Effort Multipliers</h4></div>
								<div class="panel-body">
									<div class = "row">
										<div class = "col-md-12 text-center">
											<h4>RCPX: Product reliability and complexity</h4>
											<input type="radio" ng-model="RCPX.value" value=0.49 checked>Extra Low
											<input type="radio" ng-model="RCPX.value" value=0.60>Very Low
											<input type="radio" ng-model="RCPX.value" value=0.83>Low
											<input type="radio" ng-model="RCPX.value" value=1.00>Nominal
											<input type="radio" ng-model="RCPX.value" value=1.33>High
											<input type="radio" ng-model="RCPX.value" value=1.91>Very High
											<input type="radio" ng-model="RCPX.value" value=2.72>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>RUSE: Reuse required</h4>
											<input type="radio" ng-model="RUSE.value" value=0.00 checked>Extra Low
											<input type="radio" ng-model="RUSE.value" value=0.00>Very Low
											<input type="radio" ng-model="RUSE.value" value=0.95>Low
											<input type="radio" ng-model="RUSE.value" value=1.00>Nominal
											<input type="radio" ng-model="RUSE.value" value=1.07>High
											<input type="radio" ng-model="RUSE.value" value=1.15>Very High
											<input type="radio" ng-model="RUSE.value" value=1.24>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>PDIF: Platform difficulty</h4>
											<input type="radio" ng-model="PDIF.value" value=0.00 checked>Extra Low
											<input type="radio" ng-model="PDIF.value" value=0.00>Very Low
											<input type="radio" ng-model="PDIF.value" value=0.87>Low
											<input type="radio" ng-model="PDIF.value" value=1.00>Nominal
											<input type="radio" ng-model="PDIF.value" value=1.29>High
											<input type="radio" ng-model="PDIF.value" value=1.81>Very High
											<input type="radio" ng-model="PDIF.value" value=2.61>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>PERS: Personnel capability</h4>
											<input type="radio" ng-model="PERS.value" value=2.12 checked>Extra Low
											<input type="radio" ng-model="PERS.value" value=1.62>Very Low
											<input type="radio" ng-model="PERS.value" value=1.26>Low
											<input type="radio" ng-model="PERS.value" value=1.00>Nominal
											<input type="radio" ng-model="PERS.value" value=0.83>High
											<input type="radio" ng-model="PERS.value" value=0.63>Very High
											<input type="radio" ng-model="PERS.value" value=0.50>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>PREX: Personnel experience</h4><input type="radio" ng-model="PREX.value" value=1.59 checked>Extra Low
											<input type="radio" ng-model="PREX.value" value=1.33>Very Low
											<input type="radio" ng-model="PREX.value" value=1.12>Low
											<input type="radio" ng-model="PREX.value" value=1.00>Nominal
											<input type="radio" ng-model="PREX.value" value=0.87>High
											<input type="radio" ng-model="PREX.value" value=0.74>Very High
											<input type="radio" ng-model="PREX.value" value=0.62>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>FCIL: Facilities available</h4>
											<input type="radio" ng-model="FCIL.value" value=1.43 checked>Extra Low
											<input type="radio" ng-model="FCIL.value" value=1.30>Very Low
											<input type="radio" ng-model="FCIL.value" value=1.10>Low
											<input type="radio" ng-model="FCIL.value" value=1.00>Nominal
											<input type="radio" ng-model="FCIL.value" value=0.87>High
											<input type="radio" ng-model="FCIL.value" value=0.73>Very High
											<input type="radio" ng-model="FCIL.value" value=0.62>Extra High
										</div>
										<div class = "col-md-12 text-center m-top-md">
											<h4>SCED: Schedule pressure</h4>
											<input type="radio" ng-model="SCED.value" value=0.00 checked>Extra Low
											<input type="radio" ng-model="SCED.value" value=1.43>Very Low
											<input type="radio" ng-model="SCED.value" value=1.14>Low
											<input type="radio" ng-model="SCED.value" value=1.00>Nominal
											<input type="radio" ng-model="SCED.value" value=1.00>High
											<input type="radio" ng-model="SCED.value" value=1.00>Very High
											<input type="radio" ng-model="SCED.value" value=0.00>Extra High
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<button type="submit" class="btn  btn-lg btn-success" style="width:100%;">Calculate and Save COCOMO II Score</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
