<div class="col-md-4">
    <a class="home-link" href="" ng-click="switchPanel('assigned')">
        <div class="statistic-box bg-danger">
            <div class="statistic-value-tm"><span ng-bind="status.unassigned"/></div>
            <div class="statistic-title-tm">Tasks assigned</div>
            <div class="statistic-icon-bg">
                <i class="glyphicon glyphicon-hand-down"></i>
            </div>
        </div>
    </a>
</div>
<div class="col-md-4">
    <a class="home-link" href="" ng-click="switchPanel('on-the-go')">
        <div class="statistic-box bg-warning">
            <div class="statistic-value-tm"><span ng-bind="status.otg"/></div>
            <div class="statistic-title-tm">Tasks in progress</div>
            <div class="statistic-icon-bg">
                <i class="glyphicon glyphicon-hand-right"></i>
            </div>
        </div>
    </a>
</div>
<div class="col-md-4">
    <a class="home-link" href="" ng-click="switchPanel('complete')">
        <div class="statistic-box bg-success">
            <div class="statistic-value-tm"><span ng-bind="status.finalised"/></div>
            <div class="statistic-title-tm">Tasks Completed</div>
            <div class="statistic-icon-bg">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </div>
        </div>
    </a>
</div>