<div class="row-fluid">
	<div id="userDashBoard" class=" col-md-12">
		<div class="row-fluid">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div id = "dashboardPanelHeading" class = "panel-heading text-center">
						Projects
					</div>
					<div class = "panel-body">
						<div class="row-fluid">
							<div  id = "adminButton" class="btn-group btn-lg" role="group">
								<button id = "adminButton" type="button" class="btn btn-primary">New Project</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button  id = "adminButton" type="button" class="btn btn-primary">Modify Project</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">Delete Project</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div id = "dashboardPanelHeading" class = "panel-heading text-center">
							Tasks
						</div>
						<div class = "panel-body">
							<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<a href="#/project/taskCreate">
								<button id = "adminButton"  type="button" class="btn btn-primary">New Task</button>
							</a>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">Modify Task</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">Delete Task</button>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div id = "dashboardPanelHeading" class = "panel-heading text-center">
							Users
						</div>
						<div class = "panel-body">
							<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">New User</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">Modify User</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">Delete User</button>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div id = "dashboardPanelHeading" class = "panel-heading text-center">
							Charts
						</div>
						<div class = "panel-body">
							<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">Gantt Charts</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">APN</button>
							</div>
						</div>
						<div class="row-fluid">
							<div id = "adminButton"  class="btn-group btn-lg" role="group">
								<button id = "adminButton"  type="button" class="btn btn-primary">PERT</button>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>