<div class="page-bg page-std">
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<tabset class="custom-tabs" justified="true">
				<tab ng-repeat="project in projectData"
					 heading="{{project.projectName}}"
					 active="tab.active" disable="tab.disabled" ng-click="setProject($index)">
					<div class="project-container">
						<h2>{{project.projectName}}</h2>
						<div class="row" style="margin-top: 20px;">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-danger">
											<div class="panel-heading"><h4>Gantt Chart<i class="glyphicon glyphicon-picture"></i></h4></div>
											<div class="panel-body" style="height: 500px">
                                                <!--<div id="gantt" ng-controller="GanttChartCtrl"></div>-->
                                            </div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-danger">
											<div class="panel-heading"><h4>Project Statistics<i class="glyphicon glyphicon-stats"></i></h4></div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">6</span><h5>Unassigned tasks</h5></div>
													</div>
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">3</span><h5>Tasks in progress</h5></div>
													</div>
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">2</span><h5>Tasks pending completion</h5></div>
													</div>
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">8</span><h5>Completed tasks</h5></div>
													</div>
												</div>
												<br/>
												<div class="row">
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">1</span><h5>Tasks overdue</h5></div>
													</div>
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">4</span><h5>Tasks completed on time</h5></div>
													</div>
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">7</span><h5>Some other statistic</h5></div>
													</div>
													<div class="col-md-3">
														<div class=" bg-info col-md-12" style="text-align: center"><span style="font-size: 4em;">5</span><h5>Litres of coffee consumed</h5></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="col-md-12">
									<div class="panel panel-warning">
										<div class="panel-heading"><h5>Project Progression<i class="glyphicon glyphicon-time"></i></h5></div>
										<div class="panel-body">
											<div class="col-md-12 text-center"><h3>{{startDate($index)}}</h3><span>Project start date</span></div>
											<div class="col-md-12 text-center"><h3>{{endDate($index)}}</h3><span>Estimated completed date</span></div>
											<div class="col-md-12" style="margin-top: 10px"><progressbar
													value="project.progress" max="100" type=""></progressbar></div>
                                            <!--<p>{{project.progress}}</p>-->
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="panel panel-warning">
										<div class="panel-heading"><h5>Cost Management<i class="glyphicon glyphicon-usd"></i></h5></div>
										<div class="panel-body">
											<div class="col-md-12 text-center"><h2>${{project.budget}}</h2><span>Budget</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-1 custom-pill-container" ng-controller="HomeCtrl">
								<ul class="nav nav-pills nav-stacked" ng-repeat="item in pMenuTab">
									<li class="custom-pill" role="presentation"><a href=""><span class="{{item.iconclass}}"></span><h6>{{item.title}}</h6></a></li>
								</ul>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
        </div>
    </div>

</div>
</div>