
<div class="page-bg page-std">
<div class="container">
    <div class="row">
        <div ng-if="projectData.length === 0">
            <p>You are not the project manager of any tasks.  Please click the Team Member dashboard above to
            see any tasks assigned to you.</p>
        </div>
        <div class="col-md-12">
			<!--<div scrolling-tabs-wrapper>-->
			<tabset class="custom-tabs" justified="true">
				<tab ng-repeat="project in projectData"
					 heading="{{project.projectName}}"
                     active="project.projectName === currentProject" ng-click="setProject($index)">
					<!-- the ng-if below prevents every tab being reloaded on tab change -->
					<div class="project-container" ng-if="project.projectName === currentProject">
						<h2>{{project.projectName}}</h2>
						<div class="row m-top-md">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-danger">
											<div class="panel-heading"><h4>Project Tracking<i class="glyphicon glyphicon-picture"></i></h4></div>
											<div class="panel-body">
												<div class="row row-center">
													<div class="col-md-12">
														<ul class="nav nav-pills nav-justified">
															<li class="custom-pill" role="presentation"><a ng-click="displayTasks()"><span class="glyphicon glyphicon-paperclip"></span><h6>Tasks</h6></a></li>
															<li class="custom-pill" role="presentation"><a ng-href="#/../project/ganttChart"><span class="glyphicon glyphicon-random"></span><h6>Gantt Chart</h6></a></li>
															<li class="custom-pill" role="presentation"><a ng-href="#/../effort/functionPoints"><span class="glyphicon glyphicon-tasks"></span><h6>Effort Estimation</h6></a></li>
															<li class="custom-pill" role="presentation"><a ng-href="#/../effort/effortEstimation"><span class="glyphicon glyphicon-leaf"></span><h6>Cocomo II</h6></a></li>
															<li class="custom-pill" role="presentation"><a ng-href="#/../project/apn"><span class="glyphicon glyphicon-transfer"></span><h6>APN & Critical Chain</h6></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row" ng-show="seeTasks">
									<div class="col-md-12">
										<div class="panel panel-danger">
											<div class="panel-heading"><h4>{{project.projectName}} Tasks<i class="glyphicon glyphicon-paperclip"></i></h4></div>
											<div class="panel-body" style="overflow: scroll">
												<table ng-controller="ProjectDashboardTaskCtrl" class="table table-hover taskTable table-responsive">
													<tr>
														<th>Task#</th>
														<th>Task Name</th>
														<th>Priority</th>
														<th>Progress</th>
														<th>Assigned To</th>
														<th>Modify</th>
														<th>Comments</th>
														<th>Completed</th>
													</tr>
													<tr ng-repeat='task in tasks track by task.taskId'>
														<td>{{task.taskNumber}}</td>
														<td>{{task.taskName}}</td>
														<td ng-class="priorityLevel(task.priority)">{{task.priority}}</td>
														<td><progressbar max="1" value="task.progress"></progressbar></td>
														<td><button class="taskButton" ng-click="openUserModal(task.taskId)"><i class="glyphicon glyphicon-user"></i></button></td>
														<td class="lborder"><a href="#/project/taskModify"><button class="taskButton" ng-click="setCurrentTask(task.taskId)"><i class="glyphicon glyphicon-wrench"></i></button></a></td>
														<td class="lborder"><button class="taskButton" ng-click="openModal(task.taskId)"><i class="glyphicon glyphicon-comment"></i></button></td>
														<td class="lborder complete"><button class="taskButton" ng-click="markComplete(task.taskId)"><i class="glyphicon glyphicon-saved"></i></button></td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-danger">
											<div class="panel-heading"><h4>Project Statistics<i class="glyphicon glyphicon-stats"></i></h4></div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-3">
														<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;" ng-bind="status.unassigned"></span><h5>Unassigned tasks</h5></div>
													</div>
													<div class="col-md-3">
														<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;"ng-bind="status.otg"></span><h5>Tasks in progress</h5></div>
													</div>
													<div class="col-md-3">
														<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;"ng-bind="status.finalised"></span><h5>Tasks pending completion</h5></div>
													</div>
													<div class="col-md-3">
														<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;"ng-bind="status.complete"></span><h5>Completed tasks</h5></div>
													</div>
												</div>
												<hr/>

												<div class="row">
													<div class="col-md-3">
														<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;">1</span><h5>Tasks overdue</h5></div>
													</div>
													<div class="col-md-3">
														<div ng-if="cocomoCalculated === false">
															<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;"></span><h5>Please enter your COCOMO estimations
																above so we can display COCOMO score for you!</h5></div>
														</div>
														<div ng-if="cocomoCalculated === true">
															<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;">{{cocomoScore}}</span><h5>
																Person-months (Cocomo Score)</h5></div>
														</div>
													</div>
													<div class="col-md-3">
														<div ng-if="functionPointCalculated === false">
															<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;"></span><h5>Please enter your function points
															above so we can display function point count for you!</h5></div>
														</div>
														<div ng-if="functionPointCalculated === true">
															<div class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;">{{functionPoints}}</span><h5>
																Adjusted Function Point Count</h5></div>
														</div>
													</div>
													<div class="col-md-3" ng-controller="PERTCtrl">
														<div ng-if="pert === -1" class="col-md-12" style="text-align: center">
															<span style="font-size: 4em;"></span>
															<h5>Please add some tasks so that we can generate a PERT analysis for you!</h5>
														</div>
														<div ng-if="pert !== -1" class="col-md-12" style="text-align: center"><span style="font-size: 2.8em;">{{pert}}%</span><h5>Chance of not finishing project on time (PERT analysis)</h5></div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="col-md-12">
									<div class="panel panel-warning">
										<div class="panel-heading"><h4>Project Progression<i class="glyphicon glyphicon-time"></i></h4></div>
										<div class="panel-body">
											<div class="col-md-12 text-center"><h3>{{startDate($index)}}</h3><span>Project start date</span></div>
											<div class="col-md-12 text-center"><h3>{{endDate($index)}}</h3><span>Estimated completed date</span></div>
											<div class="col-md-12 m-top-md"><progressbar
													value="project.progress" max="100" type=""></progressbar></div>
                                            <!--<p>{{project.progress}}</p>-->
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="panel panel-warning">
										<div class="panel-heading"><h4>Cost Management<i class="glyphicon glyphicon-usd"></i></h4></div>
										<div class="panel-body">
											<div class="col-md-12 text-center"><h2>${{project.budget}}</h2><span>Budget</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-1 custom-pill-container" ng-controller="HomeCtrl">
								<ul class="nav nav-pills nav-stacked" ng-repeat="item in pMenuTab">
									<li class="custom-pill" role="presentation"><a href="{{item.url}}"><span class="{{item.iconclass}}"></span><h6>{{item.title}}</h6></a></li>
								</ul>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
			<!--</div>-->
        </div>
    </div>

</div>
</div>