

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<tabset class="custom-tabs" justified="true">
				<tab ng-repeat="projectName in projectNames"
					 heading="{{projectName}}"
						ng-init="importTasks(projectName); ">
					<div class="project-container">
						<h2>{{projectName}}</h2>
						<div class="row m-top-md">
						<div class="col-md-10">
						<div class="row">
				<div class="col-md-4">
					<a class="home-link" href="" ng-click="showTaskPanel(1)">
					<div class="statistic-box bg-danger">
						<div class="statistic-value-tm">3</div>
						<div class="statistic-title-tm">Tasks assigned</div>
						<div class="statistic-icon-bg">
							<i class="glyphicon glyphicon-hand-down"></i>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="home-link" href="" ng-click="showTaskPanel(2)">
					<div class="statistic-box bg-warning">
						<div class="statistic-value-tm">3</div>
						<div class="statistic-title-tm">Tasks in progress</div>
						<div class="statistic-icon-bg">
							<i class="glyphicon glyphicon-hand-right"></i>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="home-link" href="" ng-click="showTaskPanel(3)">
					<div class="statistic-box bg-success">
						<div class="statistic-value-tm">3</div>
						<div class="statistic-title-tm">Tasks Completed</div>
						<div class="statistic-icon-bg">
							<i class="glyphicon glyphicon-thumbs-up"></i>
						</div>
					</div>
					</a>
				</div>
			</div>
						<div class="row m-top-md">
				<div class="col-md-12" ng-show="assigned">
					<div class="panel panel-danger">
						<div class="panel-heading"><h4>Tasks assigned to {{getUserName()}}.</h4></div>
						<div class="panel-body">
							<table class="table table-hover taskTable">
								<tr>
									<th>Project</th>
									<th>Task ID</th>
									<th>Task Name</th>
									<th>Priority</th>
									<th>Progress</th>
									<th>Details</th>
									<th>Add</th>
								</tr>
								<tr ng-repeat='unassigned in tasks | filter: {status: "unassigned"} track by $index'>
									<td>{{unassigned.projectName}}</td>
									<td>{{unassigned.taskId}}</td>
									<td>{{unassigned.taskName}}</td>
									<td>{{unassigned.priority}}</td>
									<td><progressbar max="1" value="unassigned.progress"></progressbar></td>
									<td><button class="taskButton" ng-click="open($index)"><i class="glyphicon glyphicon-pencil"></i></button></td>
									<td><button class="taskButton" ng-click="startTask($index)"><i class="glyphicon glyphicon-plus"></i></button></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12" ng-show="onTheGo">
					<div class="panel panel-warning">
						<div class="panel-heading"><h4>Tasks {{getUserName()}} is working on.</h4></div>
						<div class="panel-body">
							<table class=" table table-hover taskTable">
								<tr>
									<th>Task ID</th>
									<th>Task Name</th>
									<th>Description</th>
									<th>Priority</th>
									<th>Progress</th>
									<th>Done</th>
								</tr>
								<tr ng-repeat='otg in tasks | filter: {status: "on-the-go"} track by $index'>
									<td>{{otg.taskId}}</td>
									<td>{{otg.taskName}}</td>
									<td>{{otg.taskDescription}}</td>
									<td>{{otg.priority}}</td>
									<td><progressbar max="1" value="otg.progress"></progressbar></td>
									<td><button class="taskButton" ng-click="markComplete($index)"><i class="glyphicon glyphicon-ok"></i></button></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12" ng-show="complete">
					<div class="panel panel-success">
						<div class="panel-heading"><h4>Tasks completed by {{getUserName()}}.</h4></div>
						<div class="panel-body">
							<table class=" table table-hover taskTable">
								<tr>
									<th>Task ID</th>
									<th>Task Name</th>
									<th>Description</th>
									<th>Priority</th>
									<th>Status</th>

								</tr>
								<tr ng-repeat='done in tasks | filter: {status: "complete"}'">
									<td>{{done.taskId}}</td>
									<td>{{done.taskName}}</td>
									<td>{{done.taskDescription}}</td>
									<td>{{done.priority}}</td>
									<td>{{done.status}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
							</div>
							<div class="col-md-1 custom-pill-container" ng-controller="HomeCtrl">
							<ul class="nav nav-pills nav-stacked" ng-repeat="item in pMenuTab">
							<li class="custom-pill" role="presentation"><a ng-href="{{item.url}}"><span class="{{item.iconclass}}"></span><h6>{{item.title}}</h6></a></li>
							</ul>
							<ul class="nav nav-pills nav-stacked">
								<li class="custom-pill" role="presentation"><a ng-href="#/../project/ganttChart"><span class="glyphicon glyphicon-random"></span><h6>Gantt Chart</h6></a></li>
							</ul>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>

