<!--<div class="row-fluid">
	<div id="userDashBoard" class="col-md-12">
		<div class="row-fluid">
			<div id="tmDashboardpanel" class="col-md-8">
				<div id="tmDashboard" class="panel panel-default">
					<div id = "dashboardPanelHeading" class="panel-heading text-center">
						<h4>Tasks</h4>
					</div>
					<div class = "panel-body">
						<div class="row-fluid">
							<div class="col-md-4" ng-model"countToBeDone">
								<div id = "dashboardPanel" class="panel panel-default">
									<div class="panel-heading text-center">
										<h6>{{countToBeDone.title}}</h6>
									</div>
									<div class = "panel-body text-center">
										<h1>{{countToBeDone.value}}</h1>
									</div>
								</div>
							</div>
							<div class="col-md-4" ng-model="countOnTheGo">
								<div id = "dashboardPanel" class="panel panel-default" >
									<div class="panel-heading text-center" >
										<h6>{{countOnTheGo.title}}</h6>
									</div>
									<div class = "panel-body text-center">
										<h1>{{countOnTheGo.value}}</h1>
									</div>
								</div>
							</div>
							<div class="col-md-4" ng-model="countAwaitingApproval">
								<div id = "dashboardPanel" class="panel panel-default">
									<div class="panel-heading text-center">
										<h6>{{countAwaitingApproval.title}}</h6>
									</div>
									<div class = "panel-body text-center">
										<h1>{{countAwaitingApproval.value}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="tmDashboard" class="panel panel-default">
					<div id = "dashboardPanelHeading" class="panel-heading text-center">
						<h4>Charts</h4>
					</div>
					<div class = "panel-body">
						<div class="row-fluid">
							<div class="col-md-4">
								<a href="#/project/ganttChart">
									<div id = "dashboardPanel" class="panel panel-default">
										<div class="panel-heading text-center">
											<h6>Gantt Chart</h6>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="/apn">
									<div id = "dashboardPanel" class="panel panel-default">
										<div type="button" class="panel-heading text-center" >
											<h6>APN</h6>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="/Pert">
									<div id = "dashboardPanel" class="panel-default">
										<div class="panel-heading text-center">
											<h6>PERT</h6>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myTasks" class ="col-md-3">
				<div id="myTasksPanel" class="panel panel-default" >
					<div id = "dashboardPanelHeading" class="panel-heading text-center">
						<h4>My Tasks</h4>
					</div>
					<div class = "panel-body">
						<div ng-model="taskData" ng-repeat="Task in taskData">
							<div class ="ng-class: taskPriority($index);">
								<div class="panel-heading text-center">
									{{Task.taskName}}
								</div>
								<div class = "panel-body">
									{{Task.taskDescription}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			

		</div>

	</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

		</div>
		<div class="col-md-1 custom-pill-container" ng-controller="HomeCtrl">
			<ul class="nav nav-pills nav-stacked" ng-repeat="item in pMenuTab">
				<li class="custom-pill" role="presentation"><a ng-href=""><span class="{{item.iconclass}}"></span><h6>{{item.title}}</h6></a></li>
			</ul>
		</div>
	</div>
</div>

