<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
        <div class="panel-heading">Update User Details</div>
        <div class="panel-body">
            <div class="input-group">
                <input id="searchName"
                       ng-model="selectedNames"
                       typeahead="name.name for name in user | filter:$viewValue | limitTo:8"
                       class="form-control"
                       placeholder="Employee Name"
                        ng-keydown="$event.which === 13 && findUser(selectedNames)"/>
                </input>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="findUser(selectedNames)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div class="form-group" ng-show="updateForm">
                <div ui-view="modifyForm"></div>
            </div>
        </div>
    </div>
</div>