<div class="container">
    <div class="page-header">
        <h3>List of users from the REST API.  Unlike the sample projects page, this one actually calls the server
            <code>/api/auth/admin/users</code>
        </h3>
    </div>
    <p>{{1+2}}</p>

    <p class="lead">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr ng-repeat="person in user">
            <td>{{person.email}}</td>
            <td>{{person.role}}</td>
        </tr>
    </table>
    </p>

</div>
